:root {
  --font: #2d343a;
  --white: #e7e8ec;
  --black: #dadbdd;
  --transparent: rgba(255, 255, 255, 0);
  --gray: #3a3a3a;
}

body {
  color: var(--font);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.section {
  z-index: 2;
  background-color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  position: relative;
}

.section.is-header {
  z-index: 0;
  background-color: var(--black);
  height: 100svh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.is-intro {
  background-color: #74ff7d;
  background-color: var(--font);
  color: var(--black);
  min-height: auto;
}

.section.is-map {
  background-color: var(--white);
  color: var(--black);
}

.section.is-footer {
  z-index: 0;
  background-color: var(--black);
  min-height: 100svh;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.is-placeholder {
  background-color: var(--font);
  color: var(--white);
  height: 100vh;
}

.section.is-overview {
  z-index: 11;
  background-color: var(--font);
  color: var(--black);
  padding-top: 0;
  padding-bottom: 0;
}

.section.is-services {
  background-color: var(--black);
}

.container {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  position: relative;
}

.container.isfooter {
  pointer-events: none;
}

.header__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.header__img {
  background-color: var(--font);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__grid-item {
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.header__paragraph {
  max-width: 100%;
  font-family: Recifedisplay Book, sans-serif;
  font-size: 3vw;
  font-weight: 400;
  text-decoration: none;
}

.header__caches {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  max-height: 100svh;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header__cache {
  background-color: var(--black);
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.header__cache.is-last {
  background-color: rgba(255, 255, 255, 0);
}

.page-wrapper {
  width: 100%;
  height: auto;
}

.main {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: static;
}

.embed__sawm {
  background-color: var(--black);
  color: var(--white);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 70%;
  padding: 24px 24px 0;
  display: flex;
  position: relative;
}

.wrap__embed-swam {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
}

.cache-special {
  background-color: var(--black);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.intro__text {
  font-size: 3vw;
  font-weight: 300;
  position: relative;
}

.map__component {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.heading-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 48rem;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.btn__arrow {
  width: 20px;
  height: 20px;
  display: flex;
}

.h2 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.2;
}

.map {
  background-color: var(--gray);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 600px;
  display: block;
}

.map:focus {
  border: 1px #000;
}

.btn {
  color: var(--gray);
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
  display: flex;
}

.footer__embed__sawm {
  color: var(--white);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  position: relative;
}

.footer__logo-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer__link-wrap {
  letter-spacing: .8px;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
}

.legend {
  margin-bottom: 0;
  font-size: .8rem;
}

.legend.white {
  color: var(--white);
}

.heart {
  color: #ff0004;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
}

.footer__links {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 24px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
}

.footer__links.up {
  padding-top: 32px;
  padding-bottom: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header__canvas {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.code-embed {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scroll_wrap {
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.scroll_trigger {
  pointer-events: none;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top_wrap {
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.top_trigger {
  pointer-events: none;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.overview__component {
  width: 100%;
  height: auto;
}

.overview__sticky {
  z-index: 2;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100vh;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.overview__content {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  display: flex;
}

.overview__visual {
  flex-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

.overview_trigger {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255, 0, 0, .08);
  border: 1px solid red;
  height: 100vh;
  position: relative;
}

.overview__tab-city {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.overview_tab-text {
  opacity: .3;
  font-family: Recifedisplay Book, sans-serif;
  font-size: 2.8rem;
  transition: opacity .25s;
}

.overview_tab-text.is-active {
  opacity: 1;
}

.overview__map {
  background-color: var(--black);
  color: var(--black);
  background-image: linear-gradient(rgba(255, 255, 255, .03), rgba(255, 255, 255, .03));
  width: 100%;
  height: 100%;
}

.overview__tab-progress {
  background-color: var(--black);
  width: 10%;
  height: 2px;
}

.overview__tab-progress.hgk {
  width: 0%;
}

.overview__tab-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.overview__city {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.overview__cities {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.overview__city-img {
  filter: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.overview__info-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: none;
}

.overview__info-wrap.active {
  display: flex;
}

.overview_info-title {
  color: var(--white);
  font-family: Recifedisplay;
  font-size: 2.8rem;
}

.overview__info-texts {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: row;
  display: flex;
}

.link {
  text-decoration: none;
}

.punchline {
  margin-bottom: 0;
  font-family: Recifedisplay Book, sans-serif;
  font-size: 3vw;
  font-weight: 400;
  position: relative;
}

.punchline.is-footer {
  max-width: 550px;
  margin-top: -25vh;
  font-size: 2.6rem;
}

.punchline.is-dark {
  color: var(--black);
}

.punchline.is-dark.margin-bottom {
  margin-bottom: 80px;
}

.punchline.is-services {
  max-width: 800px;
  margin-bottom: 120px;
}

.punchline.is-location {
  cursor: pointer;
}

.overview__visual-v2 {
  flex-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  display: block;
  position: relative;
  overflow: hidden;
}

.overview__map-v2 {
  background-color: var(--black);
  color: var(--black);
  width: 100%;
  height: 100%;
  position: absolute;
}

.black {
  font-weight: 900;
}

.overlay-fade-top {
  background-image: linear-gradient(#000, rgba(10, 10, 10, 0));
  height: 80px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.overlay-fade-top.light {
  background-image: none;
}

.timeline__section {
  z-index: 1;
  color: var(--black);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.timeline_quote-text-wrapper {
  flex: 1;
}

.timeline__centre {
  justify-content: center;
  display: flex;
}

.timeline__padding-vertical {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.timeline__right {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.timeline__circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #000;
}

.timeline__circle.light {
  background-color: var(--black);
  box-shadow: 0 0 0 8px var(--font);
}

.timeline_quote-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  overflow: hidden;
}

.timeline__link {
  letter-spacing: .8px;
  text-transform: uppercase;
  align-items: center;
  font-size: .8rem;
  font-weight: 900;
  text-decoration: none;
  display: flex;
}

.timeline__container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline__content {
  background-color: var(--font);
  width: 100%;
  height: auto;
  position: relative;
}

.overlay-fade-bottom {
  background-image: linear-gradient(to top, #000, rgba(10, 10, 10, 0));
  height: 80px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay-fade-bottom.light {
  background-image: none;
}

.timeline__heading {
  z-index: 1;
  background-color: var(--font);
  width: 100%;
  height: auto;
  position: relative;
}

.margin-bottom-small {
  margin-bottom: 24px;
}

.timeline_progress-bar {
  background-image: linear-gradient(180deg, rgba(164, 183, 189, 0), var(--black));
  border-radius: 0 0 4px 4px;
  width: 3px;
  height: 50vh;
  position: fixed;
  bottom: 50vh;
}

.text-colour-lightgrey {
  margin-top: 24px;
}

.timeline-main_heading-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.timeline__left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.link-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.timeline_text {
  font-size: 1.4rem;
}

.timeline_progress {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  width: 3px;
  height: 100%;
  position: absolute;
}

.timeline_quote-title {
  font-size: 14px;
  font-weight: 500;
}

.timeline_quote-wrapper {
  border: 3px solid var(--black);
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.timeline_quote {
  margin-bottom: 16px;
  font-size: 14px;
}

.timeline_definition-wrapper {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 16px;
  padding: 32px;
}

.timeline_date-text {
  letter-spacing: -.03em;
  font-size: 3vw;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.timeline__item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  position: relative;
}

.timeline_progress-fade {
  background-image: linear-gradient(180deg, var(--font), rgba(30, 30, 30, 0));
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.timeline_progress-fade.is-down {
  background-image: linear-gradient(180deg, rgba(30, 30, 30, 0), var(--font));
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(0);
}

.cta__text {
  margin-right: 6px;
}

.marquee {
  color: var(--white);
  height: 12em;
  position: relative;
  overflow: hidden;
}

.marquee_track {
  width: 100%;
  height: 100%;
  position: relative;
}

.marquee_item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.marquee_text {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 8em;
  line-height: .7;
}

.services__categories {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
}

.services__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.services__list {
  margin-top: 24px;
}

.services__list-item {
  border-bottom: 1px solid var(--black);
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-bottom: 12px;
  list-style-type: none;
  display: flex;
}

.service__text {
  text-decoration: none;
}

.services__details {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-flow: column;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.services__info {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.services__categ-dubline {
  font-size: 1.2rem;
}

.services__intro {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.code-embed-3 {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  display: flex;
}

.services__categ-text {
  margin-bottom: 0;
}

.services__tabs {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.services__tabs-content {
  margin-top: 40px;
  overflow: clip;
}

.services__tabs-menu {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.services__punchline-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 60px;
  display: grid;
}

.services__tab {
  background-color: var(--transparent);
  border-bottom: 1px solid #000;
  padding-left: 16px;
  padding-right: 16px;
}

.services__tab.w--current {
  border-bottom: 5px solid var(--black);
  background-color: var(--transparent);
  justify-content: space-between;
  align-items: stretch;
  font-weight: 700;
  display: flex;
}

.pill {
  letter-spacing: .2px;
  text-transform: uppercase;
  font-size: .8rem;
}

.pill.tldr {
  margin-left: 4px;
}

.pill.service {
  font-weight: 700;
}

.faq__answer {
  z-index: 2222;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.faq {
  position: relative;
}

.one-name {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  text-decoration: none;
  display: flex;
}

.faq__item {
  border-bottom: 1px solid var(--font);
  position: relative;
}

.faq__question {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  position: relative;
}

.faq__question.hover-x {
  cursor: pointer;
  justify-content: space-between;
}

.one-item-list-wrap {
  flex-flow: column;
  align-items: flex-start;
  padding-bottom: 32px;
  display: flex;
}

.faq__paragraph {
  flex-flow: column;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.6;
  display: block;
}

.one-trigger {
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-plus {
  width: 16px;
  height: 16px;
}

.plus-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}

.faq__category {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1.25fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.faq__category.second {
  margin-top: 80px;
}

.one-item-list-image {
  flex-flow: column;
  width: 80%;
  margin-bottom: 24px;
  display: flex;
}

.faq__items {
  width: 100%;
}

.h2-2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.h2-2.faq {
  margin-bottom: 0;
  font-weight: 600;
}

.faq__categ-dubline {
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq__tldr-wrap {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 88px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.faq__categories {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: flex-start;
  display: flex;
}

.nav__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.magnet {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  display: flex;
}

.nav__cta-text {
  text-transform: uppercase;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: .8rem;
  font-weight: 700;
  display: flex;
}

.nav__cta-text.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.nav__cta-wrap {
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.nav__logomark-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
  position: relative;
}

.nav {
  z-index: 998;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
}

.embed__logo {
  color: var(--black);
  height: 24px;
}

.div-block {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.icon__mini {
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
}

.overview__wrap-info-text {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.keyvisual__v1 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 150%;
  display: none;
  position: relative;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.paragraph {
  max-width: 400px;
  margin-top: 48px;
  font-weight: 400;
  line-height: 1.5;
}

.nav__ctas {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav__grid-item {
  background-color: var(--font);
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-left: 4rem;
  display: flex;
}

.nav__grid-item.is-right {
  background-color: var(--black);
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
}

.temporary {
  z-index: 999;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.keyvisual__v2 {
  color: var(--black);
  justify-content: center;
  align-items: center;
  width: 85%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
}

.header__keyvisual-overlay {
  background-image: linear-gradient(180deg, var(--font) 40%, rgba(45, 52, 58, 0));
  height: 20vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header__grid-item {
    padding-left: 48px;
    padding-right: 48px;
  }

  .embed__sawm {
    width: 100%;
    height: auto;
  }

  .intro__text {
    font-size: 1.8rem;
  }

  .overview_trigger {
    display: none;
  }

  .timeline-main_heading-wrapper {
    max-width: 80%;
  }

  .timeline_definition-wrapper {
    padding: 24px;
  }

  .services__categories {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .plus-wrap {
    width: 40px;
    height: 20px;
  }

  .faq__category {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: .75fr 1fr;
  }

  .one-item-list-image {
    width: 100%;
  }

  .faq__tldr-wrap {
    padding-top: 72px;
  }

  .nav__grid {
    grid-template-columns: 1fr 1fr;
  }

  .temporary {
    display: flex;
  }

  .text-block {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .section.is-intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .header__grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;
  }

  .header__grid-item {
    padding-left: 56px;
    padding-right: 56px;
  }

  .header__paragraph {
    max-width: 320px;
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .header__cache.is-first {
    background-color: var(--transparent);
  }

  .embed__sawm {
    max-width: none;
  }

  .wrap__embed-swam {
    justify-content: center;
    align-items: flex-end;
  }

  .intro__text {
    margin-bottom: 0;
    font-size: 1.6rem;
  }

  .h2 {
    font-size: 2em;
  }

  .footer__links {
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 38px;
  }

  .punchline {
    max-width: 320px;
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .timeline__centre {
    justify-content: flex-start;
  }

  .timeline__padding-vertical {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline__right {
    padding-right: 24px;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .margin-bottom-small {
    margin-bottom: 24px;
  }

  .timeline__left {
    text-align: left;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline_quote-wrapper {
    flex-direction: column-reverse;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline__item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .services__categories {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .services__details {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
  }

  .services__info {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .services__intro {
    position: relative;
    top: 0;
  }

  .faq__question.hover-x {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .plus-wrap {
    height: 15px;
  }

  .faq__category {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .faq__category.second {
    margin-top: 48px;
  }

  .h2-2 {
    font-size: 20px;
  }

  .faq__tldr-wrap {
    padding-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__grid-item {
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro__text {
    font-size: 1.4rem;
  }

  .heading-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .btn {
    text-align: center;
    justify-content: center;
  }

  .footer__link-wrap {
    text-align: center;
    line-height: 22px;
  }

  .timeline__right {
    padding-right: 16px;
  }

  .timeline_definition-wrapper {
    padding: 16px 16px 24px;
  }

  .timeline__item {
    grid-template-columns: 48px 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .marquee_item {
    font-size: 2.5vw;
  }

  .services__categories {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .faq__answer {
    padding-left: 0;
  }

  .one-name {
    width: 83.3333%;
  }

  .one-trigger {
    width: 16.6667%;
  }

  .faq__category {
    flex-direction: column;
  }
}

#w-node-_88a30022-6f1a-6d5b-bf66-856c1fb18c56-1fb18c51, #w-node-_88a30022-6f1a-6d5b-bf66-856c1fb18c57-1fb18c51 {
  justify-self: end;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4d8-5bf1c48c, #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4db-5bf1c48c {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4e5-5bf1c48c {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4e8-5bf1c48c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c539-5bf1c48c, #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c53c-5bf1c48c {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c546-5bf1c48c {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c549-5bf1c48c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c56e-5bf1c48c, #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c571-5bf1c48c {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c57b-5bf1c48c {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c57e-5bf1c48c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c59d-5bf1c48c, #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c5a0-5bf1c48c {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c5ad-5bf1c48c {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-a2cc6cdd-c166-ec84-af82-36475bf1c5b0-5bf1c48c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0ad4-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0ad7-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0af4-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0af7-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0b05-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0b08-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_80488ddc-f792-fcc3-1ecf-9c04c136d220-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_80488ddc-f792-fcc3-1ecf-9c04c136d223-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a426ac-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a426b5-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a4271a-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42723-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42755-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a4275e-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42790-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42799-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-a55eaac2-10bd-4a08-d25f-faccfac27534-fac2752b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-a55eaac2-10bd-4a08-d25f-faccfac27536-fac2752b {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4d8-5bf1c48c {
    grid-column-start: 1;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c4db-5bf1c48c {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c539-5bf1c48c {
    grid-column-start: 1;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c53c-5bf1c48c {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c56e-5bf1c48c {
    grid-column-start: 1;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c571-5bf1c48c {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c59d-5bf1c48c {
    grid-column-start: 1;
  }

  #w-node-a2cc6cdd-c166-ec84-af82-36475bf1c5a0-5bf1c48c {
    grid-area: 1 / 1 / 2 / 3;
  }
}


@font-face {
  font-family: 'Recifedisplay Book';
  src: url("/assets/fonts/recifedisplay-book.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recifedisplay Italic';
  src: url("/assets/fonts/recifedisplay-bookitalic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recifedisplay  Bold';
  src: url("/assets/fonts/recifedisplay-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Titilliumweb';
  src: url("/assets/fonts/titilliumweb-semibold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Titilliumweb';
  src: url("/assets/fonts/titilliumweb-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Titilliumweb';
  src: url("/assets/fonts/titilliumweb-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Titilliumweb';
  src: url("/assets/fonts/titilliumweb-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montgrove';
  src: url("/assets/fonts/montgrove-regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}