:root {
  --silver: #eeeff1;
  --dark: #3b4247;
  --gray: #e5e7e7;
  --24px: 24px;
  --gray-on-dark: #98a2a3;
  --transparent: rgba(255, 255, 255, 0);
  --gray\<deleted\|variable-0cf8b0de-d6a5-926b-f4b3-be09cbe2f4fe\>: #3a3a3a;
  --dark-5-alpha: rgba(59, 66, 71, .05);
  --fund: #6563a1;
  --institutional-services: #3a7147;
  --asset-management: #3475b9;
  --digital-assets: #f28520;
  --silver-50-alpha: rgba(238, 239, 241, .5);
}

body {
  background-color: var(--silver);
  color: var(--dark);
  font-family: Inriasans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.section {
  z-index: 2;
  background-color: var(--silver);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  position: relative;
}

.section.is-header {
  z-index: 0;
  background-color: var(--gray);
  height: 100svh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.is-intro {
  border-bottom-left-radius: var(--24px);
  border-bottom-right-radius: var(--24px);
  background-color: #74ff7d;
  background-color: var(--dark);
  color: var(--gray-on-dark);
  min-height: auto;
}

.section.is-footer {
  z-index: 0;
  background-color: var(--gray);
  justify-content: space-between;
  height: 101vh;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section.is-placeholder {
  background-color: var(--dark);
  color: var(--silver);
  height: 100vh;
}

.section.is-overview {
  z-index: 11;
  background-color: var(--dark);
  color: var(--silver);
  padding-top: 0;
  padding-bottom: 0;
}

.section.is-intro {
  color: var(--silver);
  min-height: auto;
  box-shadow: 0 -20px 15px -3px rgba(0, 0, 0, .03);
}

.section.is-quote-image {
  background-color: var(--dark);
  color: var(--silver);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.section.is-hero {
  z-index: 0;
  background-image: linear-gradient(90deg, var(--dark), rgba(59, 66, 71, .9) 50%, rgba(0, 0, 0, 0)), var(--image-37f9da07);
  color: var(--silver);
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  position: relative;
}

.container.isfooter {
  pointer-events: none;
}

.container.is-nav {
  padding-left: 4rem;
  padding-right: 4rem;
}

.header__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.header__bg {
  background-color: var(--dark);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__grid-item {
  z-index: 1;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 4rem 4rem;
  display: flex;
  position: relative;
}

.header__paragraph {
  font-family: Inriasans, sans-serif;
  font-size: 2.6vw;
  font-weight: 400;
  text-decoration: none;
}

.header__paragraph.centered {
  text-align: center;
}

.header__paragraph.tight {
  max-width: 80%;
}

.header__paragraph.light {
  font-weight: 300;
}

.header__caches {
  z-index: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  max-height: 100svh;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header__cache {
  background-color: var(--gray);
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.header__cache.is-last {
  background-color: rgba(255, 255, 255, 0);
}

.page-wrapper {
  width: 100%;
  height: auto;
}

.main {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: static;
}

.embed__sawm {
  background-color: var(--gray);
  color: #f1f4f5;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 70%;
  padding: 24px 24px 0 48px;
  display: flex;
  position: relative;
}

.wrap__embed-swam {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
}

.cache-special {
  background-color: var(--gray);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.intro__text {
  font-size: 2.2rem;
  font-weight: 300;
  position: relative;
}

.map {
  background-color: var(--gray\<deleted\|variable-0cf8b0de-d6a5-926b-f4b3-be09cbe2f4fe\>);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 600px;
  display: block;
}

.map:focus {
  border: 1px #000;
}

.footer__embed__sawm {
  color: #f1f4f5;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  position: relative;
}

.footer__logo-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer__link-wrap {
  letter-spacing: .8px;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
}

.legend {
  margin-bottom: 0;
  font-size: .8rem;
}

.legend.white {
  color: var(--silver);
}

.heart {
  color: #ff0004;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
}

.footer__links {
  justify-content: space-between;
  width: 100%;
  padding-bottom: 4px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
}

.footer__links.up {
  padding-top: 32px;
  padding-bottom: 0;
}

.code-embed {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scroll_wrap {
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.scroll_trigger {
  pointer-events: none;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top_wrap {
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.top_trigger {
  pointer-events: none;
  height: 100vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.overview__component {
  width: 100%;
  height: auto;
}

.overview__sticky {
  z-index: 2;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100vh;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.overview__content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  display: flex;
}

.overview__visual {
  flex-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

.overview_trigger {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255, 0, 0, .08);
  border: 1px solid red;
  height: 100vh;
  position: relative;
}

.overview__tab-city {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.overview_tab-text {
  opacity: .3;
  font-size: 2.8rem;
  transition: opacity .25s;
}

.overview_tab-text.is-active {
  opacity: 1;
}

.overview__map {
  background-color: var(--gray);
  color: var(--gray);
  background-image: linear-gradient(rgba(255, 255, 255, .03), rgba(255, 255, 255, .03));
  width: 100%;
  height: 100%;
}

.overview__tab-progress {
  background-color: var(--gray);
  width: 100%;
  height: 2px;
}

.overview__tab-progress.hgk {
  width: 0%;
}

.overview__tab-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.overview__city {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.overview__cities {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.overview__city-img {
  filter: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.overview__info-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: none;
}

.overview__info-wrap.active {
  display: flex;
}

.overview_info-title {
  color: var(--silver);
  font-family: Recifedisplay;
  font-size: 2.8rem;
}

.overview__info-texts {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  flex-flow: row;
  display: flex;
}

.link {
  text-decoration: none;
}

.punchline {
  margin-bottom: 0;
  font-family: Inriasans, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}

.punchline.is-footer {
  max-width: 550px;
  font-size: 2.6rem;
}

.punchline.is-services {
  max-width: 800px;
  margin-bottom: 120px;
}

.punchline.is-location {
  cursor: pointer;
}

.quote-img__img {
  flex-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.overview__map-v2 {
  background-color: var(--gray);
  color: var(--dark);
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay-fade-top {
  background-image: linear-gradient(#000, rgba(10, 10, 10, 0));
  height: 80px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.overlay-fade-top.light {
  background-image: none;
}

.timeline__section {
  z-index: 1;
  background-color: var(--dark);
  color: var(--gray-on-dark);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.timeline_quote-text-wrapper {
  flex: 1;
}

.timeline__centre {
  justify-content: center;
  display: flex;
}

.timeline__padding-vertical {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.timeline__right {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.timeline__circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #000;
}

.timeline__circle.light {
  background-color: var(--gray);
  box-shadow: 0 0 0 8px var(--dark);
}

.timeline_quote-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  overflow: hidden;
}

.timeline__link {
  text-transform: uppercase;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.timeline__container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline__content {
  background-color: var(--dark);
  width: 100%;
  height: auto;
  position: relative;
}

.overlay-fade-bottom {
  background-image: linear-gradient(to top, #000, rgba(10, 10, 10, 0));
  height: 80px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay-fade-bottom.light {
  background-image: none;
}

.timeline__heading {
  z-index: 1;
  background-color: var(--dark);
  width: 100%;
  height: auto;
  position: relative;
}

.timeline_progress-bar {
  background-image: linear-gradient(180deg, rgba(164, 183, 189, 0), var(--gray));
  border-radius: 0 0 4px 4px;
  width: 3px;
  height: 50vh;
  position: fixed;
  bottom: 50vh;
}

.text-colour-lightgrey {
  margin-top: 24px;
}

.timeline-main_heading-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.timeline__left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_text {
  font-size: 1.4rem;
}

.timeline_progress {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  width: 3px;
  height: 100%;
  position: absolute;
}

.timeline_quote-title {
  font-size: 14px;
  font-weight: 500;
}

.timeline_quote-wrapper {
  border: 3px solid var(--gray);
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.timeline_quote {
  margin-bottom: 16px;
  font-size: 14px;
}

.timeline_definition-wrapper {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 16px;
  padding: 32px;
}

.timeline_date-text {
  letter-spacing: -.03em;
  font-size: 3vw;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
}

.timeline__item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  position: relative;
}

.timeline_progress-fade {
  background-image: linear-gradient(180deg, var(--dark), rgba(30, 30, 30, 0));
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.timeline_progress-fade.is-down {
  background-image: linear-gradient(180deg, rgba(30, 30, 30, 0), var(--dark));
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(0);
}

.cta__text {
  margin-right: 6px;
}

.marquee {
  color: var(--silver);
  height: 12em;
  position: relative;
  overflow: hidden;
}

.marquee_track {
  width: 100%;
  height: 100%;
  position: relative;
}

.marquee_item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.marquee_text {
  letter-spacing: -.05em;
  text-transform: uppercase;
  font-size: 8em;
  line-height: .7;
}

.code-embed-3 {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  display: flex;
}

.pill {
  letter-spacing: .2px;
  text-transform: uppercase;
  font-size: .8rem;
}

.pill.tldr {
  background-color: var(--dark-5-alpha);
  border-radius: 24px;
  padding: 6px 12px;
  font-weight: 700;
}

.pill.service {
  font-weight: 700;
  position: relative;
}

.faq__answer {
  z-index: 2222;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.faq {
  grid-row-gap: 160px;
  flex-flow: column;
  display: flex;
  position: relative;
}

.one-name {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  text-decoration: none;
  display: flex;
}

.faq__item {
  border-bottom: 1px solid var(--dark);
  position: relative;
}

.faq__question {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  position: relative;
}

.faq__question.hover-x {
  cursor: pointer;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.one-item-list-wrap {
  flex-flow: column;
  align-items: flex-start;
  padding-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.faq__paragraph {
  flex-flow: column;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.6;
  display: block;
}

.one-trigger {
  justify-content: center;
  align-items: center;
  display: flex;
}

.plus-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}

.faq__category {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1.25fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.one-item-list-image {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  width: 90%;
  margin-bottom: 24px;
  display: flex;
}

.faq__items {
  width: 100%;
  margin-top: 16px;
}

.h2-2 {
  margin-bottom: 24px;
  font-size: 1.2rem;
  font-weight: 700;
}

.h2-2.faq {
  margin-bottom: 0;
}

.faq__categ-dubline {
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq__tldr-wrap {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 108px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.faq__categories {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.magnet {
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  display: flex;
  position: relative;
}

.nav__cta-text {
  text-transform: uppercase;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: .8rem;
  font-weight: 700;
  display: flex;
}

.nav__cta-text.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.nav__cta-text.is-hero {
  color: #eeeff1;
}

.nav__cta-wrap {
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.nav__cta-wrap.is-dark {
  color: var(--dark);
}

.nav__logomark-link {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
  position: relative;
}

.nav {
  z-index: 99;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
}

.nab__logo {
  z-index: 99;
  color: var(--gray);
  height: 32px;
  position: relative;
}

.icon__mini {
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
}

.overview__wrap-info-text {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.paragraph {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  line-height: 1.5;
}

.nav__ctas {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav__grid-item {
  background-color: var(--dark);
  color: var(--gray);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 24px;
  padding-left: 4rem;
  padding-right: 32px;
  display: flex;
}

.nav__grid-item.is-right {
  background-color: var(--gray);
  color: var(--dark);
  justify-content: flex-end;
  align-items: center;
  padding-left: 32px;
  padding-right: 4rem;
}

.header__keyvisual-overlay {
  background-image: linear-gradient(180deg, var(--dark) 40%, rgba(45, 52, 58, 0));
  height: 20vh;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header__keyvisual {
  aspect-ratio: 1;
  color: var(--gray);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  position: relative;
}

.faq__info-text {
  margin-bottom: 0;
  margin-left: 8px;
  font-style: italic;
  line-height: 1.4;
}

.faq__info-wrap {
  border: 1px solid #f8f8f8;
  border-radius: 8px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
  position: relative;
}

.faq__info-icon {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-top: 6px;
  display: flex;
  position: relative;
}

.faq__round {
  background-color: var(--dark);
  border-radius: 100px;
  width: 10px;
  height: 10px;
  position: relative;
}

.faq__round.is-fund {
  background-color: var(--fund);
}

.faq__round.is-institutional {
  background-color: var(--institutional-services);
}

.faq__category-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav__container {
  color: var(--gray);
  border-radius: 28px;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  position: relative;
}

.nav__link-group {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  display: flex;
}

.nav__link-group.isleft {
  justify-content: flex-end;
  padding-right: 32px;
}

.nav__link-group.isright {
  color: var(--dark);
  padding-left: 32px;
}

.nav__burger {
  z-index: 99;
  aspect-ratio: 1;
  color: var(--silver);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}

.nav__burger.is-dark {
  color: var(--dark);
}

.nav__menu {
  z-index: 98;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--dark);
  background-image: none;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  transform: translate(110%);
  box-shadow: -10px 0 9px 2px rgba(0, 0, 0, .2);
}

.nav__logo-link {
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0;
  display: flex;
  position: absolute;
}

.nav__logo-link.w--current {
  z-index: 2;
  padding-top: 8px;
  padding-right: 8px;
}

.punchline-italic {
  font-family: Inriaserif, sans-serif;
  font-style: italic;
}

.serif-italic {
  font-family: Inriaserif, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.serif-italic.normal {
  font-weight: 400;
}

.div-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-top: 48px;
  display: grid;
}

.body {
  background-color: var(--silver);
}

.text-span-2 {
  font-family: Inriaserif, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.quote-img {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100vh;
  display: grid;
  position: relative;
}

.quote-img__quote {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem 4rem 4rem;
  display: flex;
}

.quote-img__midjourney {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.quote-img__arrow-outline {
  justify-content: center;
  align-items: center;
  padding: 60px;
  display: flex;
  position: relative;
}

.cta__btn {
  color: var(--silver);
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 100%;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.cta__btn.isblue {
  color: var(--asset-management);
}

.cta__btn.isgreen {
  color: var(--institutional-services);
}

.cta__btn.is-lila {
  color: var(--fund);
}

.cta__btn.is-orange {
  color: var(--digital-assets);
}

.cta__text-round {
  background-color: var(--dark);
  border-radius: 100px;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.cta__text-round.is-silver {
  background-color: var(--silver);
}

.cta__circle {
  aspect-ratio: 1;
  background-color: var(--dark);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  display: flex;
}

.cta__circle.is-silver {
  background-color: var(--silver);
  position: relative;
}

.headline-cta-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.footer__cards-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--silver);
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.footer__card {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: var(--asset-management);
  border-radius: 16px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 120px;
  padding: 16px;
  text-decoration: none;
  display: flex;
}

.footer__card.is-green {
  background-color: var(--institutional-services);
}

.footer__card.is-lila {
  background-color: var(--fund);
}

.footer__card.is-orange {
  background-color: var(--digital-assets);
}

.code-embed-4 {
  flex: none;
  height: 100%;
}

.footer__card-text {
  pointer-events: none;
  position: relative;
}

.faq__cta-container {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: var(--silver);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  display: grid;
}

.faq__cta {
  background-color: var(--dark);
  background-image: var(--image-i50e7a06b);
  background-position: 50%;
  background-size: cover;
  border-radius: 8px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.faq__cta.is-lila {
  background-image: var(--image-i50d330ae);
}

.faq__cta.is-orange {
  background-image: var(--image-i6f78889b);
}

.faq__cta.is-blue {
  background-image: var(--image-10c7634d);
  background-position: 50%;
  background-size: cover;
}

.code-embed-5 {
  pointer-events: none;
  flex: none;
  height: 32px;
  margin-left: 24px;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.div-block-3 {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.header__punchline-wrap {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: flex;
}

.header__punchline-wrap.hero {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  width: 100%;
  max-width: 28vw;
  height: auto;
}

.heading {
  max-width: 80%;
  font-family: Inriasans, sans-serif;
  font-size: 2.6vw;
  font-weight: 400;
  text-decoration: none;
}

.heading.light {
  font-weight: 300;
}

.hero__grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: grid;
}

.hero__headline-wrap {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.hero__silverarrow {
  color: #f1f4f5;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero__grid-headline {
  z-index: 1;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.hero__grid-keyvisual {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero__keyvisual {
  aspect-ratio: 995 / 785;
  color: var(--gray);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  position: relative;
}

.stats__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: auto;
  display: grid;
}

.stat__grid-stat {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.stats__card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 2px none var(--dark-5-alpha);
  background-color: var(--dark-5-alpha);
  border-radius: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 1.6rem;
  display: flex;
}

.stats__number {
  text-align: center;
  width: 100%;
  font-size: 4em;
  font-weight: 700;
}

.stats__legend {
  text-align: center;
}

.footer__headline-cta-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
}

.services__cards-wrap {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
}

.service__card {
  aspect-ratio: 1 / 1.3;
  color: var(--silver);
  background-image: var(--image-10c7634d);
  background-position: 50%;
  background-size: cover;
  border-radius: 16px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.service__card.is-green {
  background-image: var(--image-i50e7a06b);
  background-position: 50%;
}

.service__card.is-lila {
  background-image: var(--image-i50d330ae);
  background-position: 50%;
  background-size: cover;
}

.service__card.is-orange {
  background-image: var(--image-i6f78889b);
  background-position: 50%;
  background-size: cover;
}

.service__title {
  z-index: 1;
  pointer-events: none;
  color: var(--silver);
  font-size: 1.4rem;
  position: relative;
}

.other__wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  align-items: stretch;
  margin-top: 64px;
  display: flex;
}

.h1 {
  margin-bottom: 0;
  font-family: Inriasans, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.service__card-overlay {
  background-image: linear-gradient(180deg, var(--asset-management) 15%, rgba(52, 117, 185, .1));
  transition: opacity .25s cubic-bezier(.19, 1, .22, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.service__card-overlay.is-green {
  background-image: linear-gradient(180deg, var(--institutional-services) 15%, rgba(58, 113, 71, .1));
}

.service__card-overlay.is-lila {
  background-image: linear-gradient(180deg, var(--fund) 15%, rgba(101, 99, 161, .1));
}

.service__card-overlay.is-orange {
  background-image: linear-gradient(180deg, var(--digital-assets) 15%, rgba(242, 133, 32, .1));
}

.footer__card-overlay {
  background-image: linear-gradient(90deg, var(--asset-management), rgba(52, 117, 185, .25));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer__card-overlay.is-green {
  background-image: linear-gradient(90deg, var(--institutional-services), rgba(58, 113, 71, .25));
}

.footer__card-overlay.is-lila {
  background-image: linear-gradient(90deg, var(--fund), rgba(101, 99, 161, .25));
}

.footer__card-overlay.is-orange {
  background-image: linear-gradient(90deg, var(--digital-assets), rgba(242, 133, 32, .1));
}

.nav__desktop-ctas {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-end;
  display: grid;
}

.nav__desktop-wrap {
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nav__overlay {
  z-index: 3;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  pointer-events: none;
  background-color: rgba(59, 66, 71, .4);
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container, .container.is-nav {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header__grid-item {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header__paragraph {
    font-size: 3vw;
  }

  .embed__sawm {
    width: 100%;
    height: auto;
  }

  .intro__text {
    font-size: 1.7rem;
  }

  .footer__embed__sawm, .footer__links {
    padding-left: 32px;
    padding-right: 32px;
  }

  .overview__sticky {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: auto;
  }

  .overview__content {
    grid-row-gap: 100px;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .overview_trigger {
    display: none;
  }

  .punchline {
    font-size: 2rem;
  }

  .timeline-main_heading-wrapper {
    max-width: 80%;
  }

  .timeline_definition-wrapper {
    padding: 24px;
  }

  .plus-wrap {
    width: 40px;
    height: 20px;
  }

  .faq__category {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: .75fr 1fr;
  }

  .one-item-list-image {
    width: 100%;
  }

  .faq__tldr-wrap {
    padding-top: 72px;
  }

  .nav__grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav__container {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    display: flex;
  }

  .nav__link-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__link-group.isleft {
    width: 100%;
  }

  .nav__link-group.isright {
    width: 100%;
    padding-left: 0;
  }

  .nav__burger.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav__logo-link {
    position: relative;
  }

  .quote-img__quote {
    min-height: 60vh;
  }

  .footer__card {
    border-radius: 8px;
    justify-content: flex-end;
    height: 40px;
    padding: 8px;
  }

  .footer__card-text.hidden {
    display: none;
  }

  .faq__cta-container {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .div-block-3 {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .header__punchline-wrap.hero {
    max-width: 33vw;
  }

  .heading {
    font-size: 3vw;
  }

  .hero__silverarrow {
    padding-left: 32px;
    padding-right: 32px;
  }

  .stats__number {
    font-size: 3em;
  }

  .h1 {
    font-size: 2rem;
  }

  .nav__desktop-wrap {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.is-header {
    height: auto;
  }

  .section.is-hero {
    height: auto;
    min-height: 100vh;
  }

  .header__grid {
    flex-flow: column-reverse wrap-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .header__bg {
    aspect-ratio: 1;
    padding-top: 0;
  }

  .header__grid-item {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }

  .header__paragraph {
    text-align: center;
    font-size: 1.4rem;
  }

  .header__cache.is-first {
    background-color: var(--transparent);
  }

  .embed__sawm {
    max-width: none;
    padding-left: 24px;
  }

  .wrap__embed-swam {
    justify-content: center;
    align-items: flex-end;
  }

  .intro__text {
    margin-bottom: 0;
    font-size: 1.6rem;
  }

  .footer__embed__sawm {
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer__links {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .overview__content {
    padding: 60px 5%;
  }

  .punchline {
    max-width: 320px;
    margin-bottom: 0;
    font-size: 1.6rem;
  }

  .punchline.is-footer {
    font-size: 2rem;
  }

  .punchline.is-location, .punchline.is-timeline {
    max-width: none;
  }

  .quote-img__img {
    aspect-ratio: 1;
  }

  .timeline__centre {
    justify-content: flex-start;
  }

  .timeline__padding-vertical {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline__right {
    padding-right: 24px;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline-main_heading-wrapper {
    max-width: 100%;
  }

  .timeline__left {
    text-align: left;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_progress {
    left: 6px;
  }

  .timeline_quote-wrapper {
    flex-direction: column-reverse;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline__item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .pill.tldr {
    display: none;
  }

  .pill.service {
    font-size: 1.4rem;
  }

  .faq {
    grid-row-gap: 120px;
  }

  .faq__question.hover-x {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .plus-wrap {
    height: 15px;
  }

  .faq__category {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .h2-2 {
    font-size: 20px;
  }

  .faq__tldr-wrap {
    padding-top: 0;
  }

  .nab__logo {
    height: 22px;
  }

  .nab__logo.is-dark {
    color: var(--dark);
  }

  .header__keyvisual {
    width: 100%;
    max-width: none;
  }

  .faq__category-wrap {
    display: none;
  }

  .nav__link-group.isright {
    color: var(--gray);
  }

  .nav__menu {
    grid-template-columns: 40% 60%;
    width: 80vw;
  }

  .nav__logo-link.w--current {
    height: 40px;
  }

  .div-block {
    display: block;
  }

  .quote-img {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    height: auto;
  }

  .quote-img__quote {
    min-height: auto;
    padding: 100px 5%;
  }

  .footer__cards-wrapper {
    font-size: .9rem;
  }

  .footer__card {
    aspect-ratio: auto;
    height: 32px;
  }

  .div-block-3 {
    grid-column-gap: 10%;
    grid-row-gap: 10%;
  }

  .header__punchline-wrap {
    grid-column-gap: 56px;
    grid-row-gap: 56px;
  }

  .header__punchline-wrap.hero {
    max-width: none;
  }

  .heading {
    max-width: 100%;
    font-size: 1.4rem;
  }

  .hero__grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .hero__headline-wrap {
    justify-content: center;
    align-items: flex-start;
  }

  .hero__silverarrow {
    padding-left: 5%;
    padding-right: 5%;
    display: none;
  }

  .hero__grid-keyvisual {
    justify-content: flex-start;
    align-items: center;
  }

  .hero__keyvisual {
    width: 60%;
  }

  .stats__grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .stat__grid-stat {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .stats__card {
    aspect-ratio: auto;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    padding: 32px 16px 16px;
  }

  .stats__number {
    font-size: 3em;
  }

  .services__cards-wrap {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .service__title {
    font-size: 1.2rem;
  }

  .h1 {
    max-width: 320px;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.is-footer {
    height: auto;
    min-height: 101vh;
  }

  .section.is-hero {
    height: auto;
    min-height: 100svh;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container.is-nav {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__grid-item {
    min-height: 50vh;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__paragraph.tight {
    max-width: 100%;
  }

  .intro__text {
    font-size: 1.4rem;
  }

  .footer__link-wrap {
    text-align: center;
    line-height: 22px;
  }

  .punchline {
    font-size: 1.4rem;
  }

  .punchline.is-footer {
    margin-top: -15vh;
    font-size: 6vw;
  }

  .punchline.is-location {
    font-size: 6vw;
  }

  .timeline__right {
    padding-right: 16px;
  }

  .timeline_definition-wrapper {
    padding: 16px 16px 24px;
  }

  .timeline__item {
    grid-template-columns: 48px 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .marquee_item {
    font-size: 2.5vw;
  }

  .faq__answer {
    padding-left: 0;
  }

  .faq {
    grid-row-gap: 100px;
  }

  .one-name {
    width: 83.3333%;
  }

  .one-trigger {
    width: 16.6667%;
  }

  .faq__category {
    flex-direction: column;
  }

  .nav__cta-text {
    padding-left: 8px;
    padding-right: 8px;
  }

  .nav__menu {
    grid-template-columns: 20% 80%;
  }

  .quote-img {
    height: auto;
  }

  .footer__card {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .faq__cta-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .div-block-3 {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .heading {
    text-align: center;
    max-width: 100%;
  }

  .hero__grid {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero__keyvisual {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .stat__grid-stat {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .stats__number {
    font-size: 2.8em;
  }

  .footer__headline-cta-wrap {
    margin-bottom: 0;
  }

  .h1 {
    font-size: 1.4rem;
  }
}

#w-node-_92ed4f9e-f019-cea4-40dc-6705d5cd5de7-84554425 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ccd71198-1971-67fd-c797-0c3428079a3d-d661e8a4 {
  grid-area: 2 / 1 / 4 / 2;
}

#w-node-fb31b894-63d2-ae3a-f2a4-dcb5a8055f04-d661e8a4 {
  grid-area: 1 / 2 / 3 / 3;
}

#w-node-_9bd70a3e-e986-b730-a1af-7e78e279c5fd-d661e8a4 {
  grid-area: 3 / 2 / 5 / 3;
}

#w-node-_8f58bc96-4f15-030b-06e8-65a0b17582d6-d661e8a4 {
  align-self: center;
}

#w-node-_5f0d6e14-e763-e238-b493-0bd7f3bdff02-60f8ab94 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_88a30022-6f1a-6d5b-bf66-856c1fb18c56-1fb18c51 {
  justify-self: end;
}

#w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-e96cab5f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8ba52f7-dcfa-89ed-3e85-d0737828f828-e96cab5f {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-1bd788be {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8ba52f7-dcfa-89ed-3e85-d0737828f828-1bd788be {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-71bc2d93 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8ba52f7-dcfa-89ed-3e85-d0737828f828-71bc2d93 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-1f93c3c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d8ba52f7-dcfa-89ed-3e85-d0737828f828-1f93c3c4 {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 991px) {
  #w-node-_98d69783-7028-9282-30fb-d0a56f864163-6f864161 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_98d69783-7028-9282-30fb-d0a56f864166-6f864161 {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ccd71198-1971-67fd-c797-0c3428079a3d-d661e8a4 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-fb31b894-63d2-ae3a-f2a4-dcb5a8055f04-d661e8a4 {
    grid-area: 1 / 2 / 3 / 3;
  }

  #w-node-_9bd70a3e-e986-b730-a1af-7e78e279c5fd-d661e8a4 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0ad4-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0ad7-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0af4-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0af7-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0b05-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_388f04a4-30cf-b481-15d9-92b8fbce0b08-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_80488ddc-f792-fcc3-1ecf-9c04c136d220-fbce0ac7 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_80488ddc-f792-fcc3-1ecf-9c04c136d223-fbce0ac7 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a426ac-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a426b5-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a4271a-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42723-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a42755-20a426a6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d821fa57-1e62-f457-1bb4-48fe20a4275e-20a426a6 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-a55eaac2-10bd-4a08-d25f-faccfac27534-fac2752b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-a55eaac2-10bd-4a08-d25f-faccfac27536-fac2752b, #w-node-e8d438d1-1020-d46d-7671-5792cf67ff41-e96cab5f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-e96cab5f, #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf134-e96cab5f {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf13d-e96cab5f, #w-node-e8d438d1-1020-d46d-7671-5792cf67ff41-1bd788be {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-1bd788be, #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf134-1bd788be {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf13d-1bd788be, #w-node-e8d438d1-1020-d46d-7671-5792cf67ff41-71bc2d93 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-71bc2d93, #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf134-71bc2d93 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf13d-71bc2d93, #w-node-e8d438d1-1020-d46d-7671-5792cf67ff41-1f93c3c4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-e8d438d1-1020-d46d-7671-5792cf67ff44-1f93c3c4, #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf134-1f93c3c4 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-d95302a7-cfb0-4c64-46c5-12d9fa8bf13d-1f93c3c4 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ccd71198-1971-67fd-c797-0c3428079a3d-d661e8a4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-fb31b894-63d2-ae3a-f2a4-dcb5a8055f04-d661e8a4 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_9bd70a3e-e986-b730-a1af-7e78e279c5fd-d661e8a4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-db731951-3a42-e375-2989-ca30e076c4a9-e96cab5f, #w-node-db731951-3a42-e375-2989-ca30e076c4a9-1bd788be, #w-node-db731951-3a42-e375-2989-ca30e076c4a9-71bc2d93, #w-node-db731951-3a42-e375-2989-ca30e076c4a9-1f93c3c4 {
    grid-area: 1 / 1 / 2 / 2;
  }
}


@font-face {
  font-family: 'Inriasans';
  src: url("/assets/fonts/inriasans-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inriasans';
  src: url("/assets/fonts/inriasans-bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inriasans';
  src: url("/assets/fonts/inriasans-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inriaserif';
  src: url("/assets/fonts/inriaserif-italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inriaserif';
  src: url("/assets/fonts/inriaserif-bolditalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}